# .rspec

####= SuitAndCape RSpec Configurations
##============================================================================##

## Display tests in color
--color
## Output pass-fail-pending progress bar
--format progress
## Output the documentation strings passed to methods
--format documentation
