# .rspec

####= SuitAndCape RSpec Configurations
##============================================================================##

## Tests display in color
--color

## Output pass-fail-pending progress bar
--format progress

## Output the documentation strings passed to methods
--format documentation
