#!/bin/sh
# $HOME/shell-modules/.aliases

####= SuitAndCape Shell Aliases
##============================================================================##

## Aliases named to improve workflow and help the user recall the full commands

##== Transformed Aliases ======================================================#

## Force `bc` to start with the standard math library support (`l`)
alias bc="bc -l"
## Force `cp` to prompt before overwriting an existing file (`i`), and
#recursively copy files into existing folders and create new folders when the
#destination folder is missing (`r`)
alias cp="cp -ri"
## Force `df` to output in a human readable format (`H`)
alias df="df -H"
## Force `du` to output a grand total (`c`) in a human readable format (`h`)
alias du="du -ch"
## Force `egrep`, fgrep`, `grep`, `zegrep`, `zfgrep`, and `zgrep` to output in
#color unless the output is piped or redirected to a file (`--color=auto`)
alias egrep="egrep --color=auto"
alias fgrep="fgrep --color=auto"
alias grep="grep --color=auto"
alias zegrep="zegrep --color=auto"
alias zfgrep="zfgrep --color=auto"
alias zgrep="zgrep --color=auto"
## Force `less` to exit if the entire file can be displayed at once (`F`),
#prompt more verbosely than `more` (`M`), display ANSI color escape sequence
#raw control characters (`R`), and mute the bell (`q`)
alias less="less -FMRq"
## Force `ln` to output unedited non-graphic characters (`v`)
alias ln="ln -v"
## Force `ls` to output the listing with human readable file sizes (`h`) and in
#color (`${COLORFLAG}`)
alias ls="ls -h ${COLORFLAG}"
## Force `mkdir` to make any necessary parent directories (`p`) and output all
#of the directories created (`v`)
alias mkdir="mkdir -pv"
## Force `mount` to output in a pretty, human readable format (`| column -t`)
alias mount="mount | column -t"
## Force `mv` to prompt before overwriting an existing file (`i`)
alias mv="mv -i"
## Force `nano` to convert typed tabs to spaces (`E`), show the cursor
#location (`c`), and autoindent to match the previous line (`i`)
alias nano="nano -Eci"
## Force `rm` to prompt before erasing file (`i`)
alias rm="rm -i"
## Force `sudo` to use alias expansion (` `) it can work with aliases
alias sudo="sudo "
## Force `tmux` to use two hundred fifty six colors (`2`) and enable UTF-8 (`u`)
alias tmux="tmux -2u"

##== Variant Aliases ==========================================================#

## `clr` – Variant of `clear`; clear the terminal emulator screen
alias clr="clear"
## `e` – Open (with) primary editor, found in $HOME/shell-modules/.exports
alias e="${OPEN_EDITOR}"
## `egrepc`, fgrepc`, or `grepc` – Variants of `egrep`, `fgrep`, `grep`,
#`zegrep`, `zfgrep`, and `zgrep`; always output in color (`--color=always`)
alias egrepc="egrep --color=always"
alias fgrepc="fgrep --color=always"
alias grepc="grep --color=always"
alias zegrepc="zegrep --color=always"
alias zfgrepc="zfgrep --color=always"
alias zgrepc="zgrep --color=always"
## `gurl` – Variant of `curl`; enable gzip (`--compressed`) for `curl`
alias gurl="curl --compressed"
## `ping!` – Variant of `ping`; send ICMP ECHO_REQUEST packets to network
#hosts until five ECHO_RESPONSE packets are received (`c 5`)
alias ping!="ping -c 5"
## `psaux` – Variant of `ps aux | grep`; search files for the occurrence of a
#string of characters that matches a specified pattern (`| grep`) and output the
#active processes info (`ps`) showing processes of all users (`a`), each
#process's user/owner (`u`), and processes not attached to a terminal (`x`)
alias psaux="ps aux | grep"
## `v` – Variant of `vim`; launch Vim
alias v="vim"

##== Change Directory Aliases =================================================#

## `cd-` – Change to the previous working directory
## (also see function: `-`)
alias cd-="cd -"
## `cd~` or `~` – Change to the $HOME/ directory
alias cd~="cd ~"
alias ~="cd ~"
## `..`, `...`, `....`, `.....`, or `......` – Go up one to five directories
## (also see function: `up`)
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ......="cd ../../../../.."
## `apps` – Change to the Applications/ directory
alias apps="cd ~/Applications"
## `code` – Change to the Code/ directory
alias code="cd ~/Code"
## `desi` – Change to the Design/ directory
alias desi="cd ~/Design"
## `desk` – Change to the Desktop/ directory
alias desk="cd ~/Desktop"
## `docs` – Change to the Documents/ directory
alias docs="cd ~/Documents"
## `down` – Change to the Downloads/ directory
alias down="cd ~/Downloads"
## `drop` – Change to the Dropbox/ directory
alias drop="cd ~/Dropbox"
## `movi` – Change to the Movies/ directory
alias movi="cd ~/Movies"
## `musi` – Change to the Music/ directory
alias musi="cd ~/Music"
## `pics` – Change to the Pictures/ directory
alias pics="cd ~/Pictures"
## `proj` – Change to the Projects/ directory
alias proj="cd ~/Projects"

##== List Contents Aliases ====================================================#

## `hella` – Output the listing in long format (`l`) displaying the following:
#hidden files (`a`), non-printable characters (`b`), the number of file system
#blocks actually used by each file in units of 512 bytes (`s`), annotated file
#types (`F`), file flags (`O`), and complete time information (`T`)
alias hella="ls -labsFOT"
## `l.` – Output only hidden items, listed in long format (`l`)
alias l.="find . \( -flags +hidden -or -name \".*\" \) -maxdepth 1 | sed \"s/^\.\/*//\" | xargs ls -ladhFO ${COLORFLAG}"
## `ld` – Output only directories (`d */`), listed in long format (`l`)
alias ld="ls -ld */"
## `ll` – Output the listing in long format (`l`), annotate file types (`F`),
#and include hidden files (`a`)
alias ll="ls -laF"
## `lo` – Output the listing in long format (`l`), annotate file types (`F`),
#and include hidden files (`a`) and permissions converted to octals (`sed …`)
alias lo="ls -laF | sed -e \"s/--x/1/g\" -e \"s/-w-/2/g\" -e \"s/-wx/3/g\" -e \"s/r--/4/g\" -e \"s/r-x/5/g\" -e \"s/rw-/6/g\" -e \"s/rwx/7/g\" -e \"s/---/0/g\""
## `t100` – Output the last one hundred lines (`n 100`) of the input
alias t100="tail -n 100"
## `t200` – Output the last two hundred lines (`n 200`) of the input
alias t200="tail -n 200"
## `t500` – Output the last five hundred lines (`n 500`) of the input
alias t500="tail -n 500"
## `t1000` – Output the last one thousand lines (`n 1000`) of the input
alias t1000="tail -n 1000"
## `t2000` – Output the last two thousand lines (`n 2000`) of the input
alias t2000="tail -n 2000"
## `t5000` – Output the last five thousand lines (`n 5000`) of the input
alias t5000="tail -n 5000"

##== Display Aliases ==========================================================#

if OS_OSX; then

  ## `afk` – Lock the screen
  alias afk="/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend"
  ## `hide` – Conceal hidden files
  alias hide="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder; echo \"Hidden files concealed\""
  ## `hidedesk` – Conceal desktop files
  alias hidedesk="defaults write com.apple.finder CreateDesktop -bool false && killall Finder; echo \"Desktop files concealed\""
  ## `show` – Reveal hidden files
  alias show="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder; echo \"Hidden files revealed\""
  ## `showdesk` – Reveal desktop files
  alias showdesk="defaults write com.apple.finder CreateDesktop -bool true && killall Finder; echo \"Desktop files revealed\""

# elif OS_LINUX; then

  ## `afk` – Lock the screen
  # alias afk=""
  ## `hide` – Conceal hidden files
  # alias hide=""
  ## `hidedesk` – Conceal desktop files
  # alias hidedesk=""
  ## `show` – Reveal hidden files
  # alias show=""
  ## `showdesk` – Reveal desktop files
  # alias showdesk=""

fi

##== Audio Aliases ============================================================#

if OS_OSX; then

  ## `calm` – Turn the volume low
  alias calm="osascript -e \"set volume 1\"; echo \"Volume: min\""
  ## `chill` – Turn the volume halfway up
  alias chill="osascript -e \"set volume 4\"; echo \"Volume: mid\""
  ## `party` – Turn the volume all the way up
  alias party="osascript -e \"set volume 7\"; echo \"Volume: max\""
  ## `saywhat` – Restore the volume
  alias saywhat="osascript -e \"set volume output muted false\"; echo \"Sound restored\""
  ## `shush` – Mute the volume
  alias shush="osascript -e \"set volume output muted true\"; echo \"Sound muted\""

# elif OS_LINUX; then

  ## `calm` – Turn the volume low
  # alias calm=""
  ## `chill` – Turn the volume halfway up
  # alias chill=""
  ## `party` – Turn the volume all the way up
  # alias party=""
  ## `saywhat` – Restore the volume
  # alias saywhat=""
  ## `shush` – Mute the volume
  # alias shush=""

fi

##== Application and System Aliases ===========================================#

## `cobang` – Open the Code/, Design/, Documents/, Dropbox/, and Projects/
#directories in the primary editor
alias cobang="e ~/Code ~/Design ~/Documents ~/Dropbox ~/Projects"
## `codeit` – Open the Code/ directory in the primary editor
alias codeit="e ~/Code"
## `codocs` – Open the Code/ and Documents/ directories in the primary editor
alias codocs="e ~/Code ~/Documents"
## `cosign` – Open the Code/ and Design/ directories in the primary editor
alias cosign="e ~/Code ~/Design"
## `codrop` – Open the Code/ and Dropbox/ directories in the primary editor
alias codrop="e ~/Code ~/Dropbox"
## `coproj` – Open the Code/ and Projects/ directories in the primary editor
alias coproj="e ~/Code ~/Projects"
## `now` – Output the date (`date`) as the year-month-day (`%Y-%m-%d`), day of
#the week (`%a`), time (`%T`), and time zone (`%Z`)
alias now="date +\"%Y-%m-%d %a %T %Z\""
## `path` – Pretty print Path
alias path="echo ${PATH} | tr -s \":\" \"\n\""
## `resh` – Reload the current shell (invoke as a login shell)
alias resh="exec ${SHELL} -l"
## `rete` – Clear the terminal emulator screen and reload the current shell
#(invoke as a login shell)
alias rete="clear; exec ${SHELL} -l"

if OS_OSX; then

  ## `battery` – Output OS X battery info
  ## @source http://blog.justingreer.com/post/45839440/a-tale-of-two-batteries
  alias battery="ioreg -w0 -l | grep Capacity | cut -d \" \" -f 17-50"
  ## `osup` – Install available OS X updates (`ia`) and output verbosely (`v`)
  alias osup="sudo softwareupdate -iav"

# elif OS_LINUX; then

  ## `battery` – Output Linux battery info
  # alias battery=""
  ## `osup` – Install available Linux updates
  # alias osup=""

fi
